/* assets/css/style.css */

:root {
  --primary-color: #8c4839; /* Vermelho-marrom do logo */
  --background-color: #f3e9d2; /* Cor de papel do logo */
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
  background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png'); /* Textura sutil de papel */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  color: var(--primary-color);
}

.navbar {
  background-color: rgba(140, 72, 57, 0.9) !important;
  transition: background-color 0.5s;
}

.hero-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: linear-gradient(to bottom, rgba(140, 72, 57, 0.7) 0%, rgba(140, 72, 57, 0.8) 100%), url("https://images.unsplash.com/photo-1599837568149-54b9415c10fe?ixlib=rb-4.0.3&auto=format&fit=crop&w=1770&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.hero-section h1 {
    color: #fff;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: var(--primary-color);
  opacity: 1;
}

.divider-light {
    background-color: #fff;
}

.page-section {
    padding: 8rem 0;
}

.text-primary {
    color: var(--primary-color) !important;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #6d382c;
    border-color: #6d382c;
}

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10rem;
}

#pro.bg-dark {
    background-color: var(--primary-color) !important;
}

.price-tag {
    background: var(--background-color);
    color: var(--primary-color);
    border-radius: 1rem;
    padding: 2rem;
    display: inline-block;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.price-tag h3 {
    font-size: 4rem;
    font-weight: 900;
    margin: 0;
}

.price-tag span {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}
